@model LetsChat.Models.ChannelsChatViewModel





    @*<section id="chat">
        @if (Model.Messages != null)
        {

            @foreach (var message in Model.Messages)
            {

                <div class="jumbotron">
                    <p id="messagesList">@message.User.ToString() @message.ChatMessage</p>
                </div>
            }
        }
    </section>*@

    @*<article>
        <form asp-action="PostMessage" asp-controller="Channels" asp-route-id="@Model.ChannelId" method="post" role="form" enctype="multipart/form-data" id="entermessage">
            <div class="input-group mb-3">
                <input id="messageInput" type="text" class="form-control" placeholder="Type Message Here!" asp-for="Message" aria-describedby="sendButton">
                <div class="input-group-append">
                    <input class="btn btn-dark text-danger" type="submit" id="sendButton" value="+" />
                </div>
            </div>
        </form>
    </article>
    @section scripts{
        <script src="~/js/signalr.js"></script>
        <script src="~/js/signrReqHandler.js"></script>
        <script src="~/js/chat.js"></script>
        }*@
    <article>
        <form asp-action="PostMessage" asp-controller="Channels" asp-route-id="@Model.ChannelId" method="post" role="form" enctype="multipart/form-data" id="entermessage">

         <input hidden class="form-control" type="text" id="userInput" asp-for="@User.Identity.Name" value="@User.Identity.Name" readonly />
            <br />

            <div class="input-group mb-3">
                <input class="form-control" type="text" id="messageInput" asp-for="Message" aria-describedby="sendButton" />
                <div class="input-group-append form-group">
                    <input value="+" class="btn btn-dark text-danger" id="sendButton" type="submit" />

                </div>
            </div>
        </form>
    </article>

<section>
    <div class="container">
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-6">&nbsp;</div>
            <div class="col-6">
            

            </div>
        </div>
        
        <div class="row">
            <div class="col-12">&nbsp;</div>
            <div class="col-12">
                @if (Model.Messages != null)
                {

                    @foreach (var message in Model.Messages)
                    {

                        <div class="jumbotron">
                            <p>@message.User.ToString() says @message.ChatMessage</p>
                        </div>
                    }
                }
                <div id="messagesList"></div>
            </div>
        </div>
    </div>
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/chat.js"></script>
</section>
<aside>
    <div class="sidenav">
        <br />
        <h1>Groepen</h1>
        <br />
        <br />

        @for (int i = 0; i < Model.Groepen.Count; i++)
        {
            <a class="jumbotron btn" role="button" asp-action="Channels" asp-controller="Home" asp-route-id="@i">
                @if (Model.Groepen[i].Foto != null)
                {
                    var base64 = Convert.ToBase64String(Model.Groepen[i].Foto);
                    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                    <img src="@imgSrc" alt="@Model.Groepen[i].Naam + AlbumCover" height="100" width="100" />
                }
                <p>@Model.Groepen[i].Naam</p>
                <hr />

                <p>@Model.Groepen[i].Beschrijving</p>
            </a>
        }

        <a class="btn btn-dark text-danger" role="button" asp-action="MakeGroup" asp-controller="Home">New Channel</a>
        <br />
        <br />
    </div>
</aside>